params {
    help = false
    input_dir = ""
    read_pattern = "**.{fq,fastq,fq.gz,fastq.gz}"
    out_dir = "output"
    sample_name = null
    reference_genome = null
}

manifest {
    name = ""
    author = ""
    homePage = ""
    description = ""
    mainScript = "main.nf"
    nextflowVersion = ""
}

executor {
    $local {
        cpus = 4
        memory = "8 GB"
    }
}

labels {
    standard {
        cpus = 2
        memory = "4 GB"
    }
}

profiles {
    standard {
        docker {
            enabled = true
            runOptions = ""
        }
    }
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}
cleanup = true