manifest {
    name = "cyclomics/wf-cyclomicsseq-amp"
    author = "Cyclomics"
    homePage = "https://www.cyclomics.com/"
    description = "CySeq analysis workflow for amplicon sequencing"
    mainScript = "main.nf"
    nextflowVersion = ">=24.04"
    version = "0.4.1"
}

epi2melabs {
    tags = 'wf-cyseq-amp,cyseq,amplicon,consensus,variant calling'
}

params {
    help = false
    sample_name = ""
    input_dir = ""
    reference = ""
    regions = ""
    target_depth = null
    output_dir = "output"
    
    read_pattern = "**.{fq,fastq,fq.gz,fastq.gz}"
    stop_pattern = "sequencing_summary*.txt"

    split_fastq_by_size = true
    max_fastq_size = 40000

    containers {
        alpine = "alpine:3.23.3"
        ubuntu = "ubuntu:24.04"
        minimap2 = "staphb/minimap2:2.30"
        samtools = "staphb/samtools:1.23"
        seqkit = "staphb/seqkit:2.12.0"
        lofreq = "cyclomics/lofreq:2.1.5"
        alnutils = "cyclomics/aln-utils:0.3.0"
        cyseqtools = "cyclomics/cyseqtools:0.0.7-alpha"
    }

    minimap2 {
        mode = "map-ont"
    }

    epi2me_report = false
    report_template = "${projectDir}/assets/report.html"
}

executor {
    name = "local"
    cpus = 64
    memory = "160 GB"
}

labels {
    standard {
        cpus = 2
        memory = "4 GB"
    }
}

profiles {
    standard {
        docker {
            enabled = true
            writableInputMounts = true
            runOptions = '-u $(id -u):$(id -g)'
        }
    }
    docker_amd64 {
        docker.enabled = true
        docker.writableInputMounts = true
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    apptainer {
        apptainer {
            enabled = true
        }
    }
}

process.echo = false

timeline {
  enabled = true
  overwrite = true
  file = "${params.output_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.output_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.output_dir}/execution/trace.txt"
}

cleanup = true
